
.capitally {
  padding-right: 0.2em;
  font-size: 1.2em;
  font-weight: bold;
}
.taxotouch-term-list {
  margin-bottom: 2em;
}
.taxotouch-term-list .free, .taxotouch-term-list .selected, .taxotouch-term-list .attendant, .taxotouch-term-list .empty {
  padding: 0.4em;
  white-space: nowrap;
 }
.taxotouch-term-list .selected {
  background-color: #D4EBF9;
}
.taxotouch-term-list .attendant {
  background-color: #D9F8D3;
}
.taxotouch-term-list .empty {
  color: #777;
}
.taxotouch-term-list a.empty {
  color: #777;
}
.taxotouch-term-list a.cloud-1 {
  font-size: 1em;
}
.taxotouch-term-list a.cloud-2 {
  font-size: 1.2em;
}
.taxotouch-term-list a.cloud-3 {
  font-size: 1.4em;
}
.taxotouch-term-list a.cloud-4 {
  font-size: 1.8em;
}
.taxotouch-term-list a.cloud-5 {
  font-size: 2.6em;
}